  <div id="project_list" >
  	
     <p id="notice"><%= notice %></p> 

  <p>
    <strong>Profile picture:</strong>
    <%= image_tag(@enduser.photo.url(:small)) %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= @enduser.firstname %>
  &nbsp;&nbsp;&nbsp;&nbsp;
    <strong>Last name:</strong>
    <%= @enduser.lastname %>
  </p>

  <p>
    <strong>Emp no:</strong>
    <%= @enduser.empno %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <strong>Date of birth:</strong>
    <%= @enduser.dateofbirth %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @enduser.address %>
  </p>



  <%= form_tag projects_path, :method => 'get' do %>
     <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= hidden_field_tag :search, params[:search] %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>


  <table>
  <tr>
  <th><%= "Field Name" %></th>
  <th><%= "Description" %></th>
  <th><%= "Start Date" %></th>
  <th><%= "End Date" %></th>
  </tr>
  <% @projects.each do |project| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>" >

  <td>
  <%= project.fieldname %>
  </td>

  <td>
  <%= project.description %>
  </td>

  <td>
  <%= project.start_date %>
  </td>

  <td>
  <%= project.end_date %>
  </td>

  <% end %>

  </table>

  </div>






