  <p id="notice"><%= notice %></p>

  <p>
    <strong>First name:</strong>
    <%= @enduser.firstname %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @enduser.lastname %>
  </p>

  <p>
    <strong>Emp no:</strong>
    <%= @enduser.empno %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= @enduser.dateofbirth %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @enduser.address %>
  </p>


  <%= link_to 'Edit', edit_enduser_path(@enduser) %> |
  <%= link_to 'Back', endusers_path %>
