  <h1>Listing endusers</h1>


  <%= form_tag endusers_path, :method => 'get' do %>
   <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= hidden_field_tag :search, params[:search] %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>


  <table>
    <thead>
      <tr>
        <th><%= "First Name" %></th>
        <th><%= "Last Name" %></th>
        <th><%= "Emp no." %></th>
        <th><%= "Date of birth" %></th>
        <th><%= "Address" %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @endusers.each do |enduser| %>
        <tr>
          <td><%= enduser.firstname %></td>
          <td><%= enduser.lastname %></td>
          <td><%= enduser.empno %></td>
          <td><%= enduser.dateofbirth %></td>
          <td><%= enduser.address %></td>
  <td><%= link_to 'project list', projectlistperuser_endusers_path(enduser_id: enduser.id),
    :action => :projectlistperuser  %></td>
  </tr>
      <% end %>
    </tbody>
  </table>







